name: Deploy Shinylive App

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
      
      - name: Install dependencies
        run: |
          install.packages("shinylive")
          install.packages("renv")
        shell: Rscript {0}
      
      - name: Export Shinylive
        run: |
          shinylive::export(".", "docs")
        shell: Rscript {0}
      
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs